
{% extends "bootstrap/base.html" %}
{% block title %}Search{% endblock %}

{% block navbar %}
{{nav.nav_customer.render()}}
{% endblock %}
{{cart}}
{% block content %}

<div class="container">
  <h3>Here is your cart:</h3>
  <table class="table table-hover">
      <thead>
          <th>Item</th>
          <th>Type</th>
          <th>Price</th>
      </thead>
    {% for item in cart %}
      <tr> <td> {{item[3]}} </td> <td> {{item[1]}} </td> <td> {{item[4]}} </td> <td> <form id="cart_item" action="/remove_item" method="post"><input type="hidden" name="item_id" value="{{item[0]}}"><input type="submit" value="Remove Item"> </form></td> </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}
