{% extends "bootstrap/base.html" %}
{% block title %}Change Address{% endblock %}

{% block navbar %}
{% if user[1] == 'C' %}
{{nav.nav_customer.render()}}
{% elif user[1] == 'D' %}
{{nav.nav_driver.render()}}
{% elif user[1] == 'F' %}
{{nav.nav_manager.render()}}
{% endif %}
{% endblock %}

{% block content %}

<div class="container">
  <h3>Please ensure your address is correct: </h3>
  <form id="update_address" action="/change_address" method="post">
    <div class="form-group">
        <label for="street">{{form.street.label}}</label>
        {% if form.street.errors %}
        <ul class="alert alert-danger">{% for error in form.street.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}
        {{form.street(class="form-control")}}
    </div>
    <div class="form-group">
        <label for="zip_code">{{form.zip_code.label}}</label>
        {% if form.zip_code.errors %}
        <ul class="alert alert-danger">{% for error in form.zip_code.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}
        {{form.zip_code(class="form-control")}}
    </div>
    <div class="form-group">
        <label for="city">{{form.city.label}}</label>
        {% if form.city.errors %}
        <ul class="alert alert-danger">{% for error in form.city.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}
        {{form.city(class="form-control")}}
    </div>
    <div class="form-group">
        <label for="state">{{form.state.label}}</label>
        {% if form.state.errors %}
        <ul class="alert alert-danger">{% for error in form.state.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}
        {{form.state(class="form-control")}}
    </div>
    <input type="submit" class="btn btn-default" value="Submit">
  </form>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
 </div>
{% endblock %}