{% extends "bootstrap/base.html" %}
{% block title %}Food Service Management{% endblock %}

{% block navbar %}
{{nav.nav_manager.render()}}
{% endblock %}

{% block content %}
<!--Welcome Manager of the Food Service to the Page-->
<div class="container">
    <h3>Welcome, Manager {{user[2]}} {{user[3]}}</h3>
</div>
<!--Present Manager with Their Existing Offerings-->
<div class="container">
    <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading"><h4>Your Menu:</h4></div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <tr>
                            <th>Location</th>
                            <th>Type</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Remove Item</th>
                        </tr>
                        {% for food in foods %}
                        <tr>
                            <td>{{food[0]}}</td>
                            <td>{{food[1]}}</td>
                            <td>{{food[2]}}</td>
                            <td>{{food[3]}}</td>
                            <td><form action="/remove_item" method="post">
                                <input type=hidden value="{{ food[4] }}" name="to_remove">
                                <input type="submit" class="btn btn-default" value="Remove" onClick="window.location.reload();">
                            </form></td>
                        </tr>
                        {% endfor %}

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Give Manager Option to Add More Foods-->
<div class="container">
    <h4> Add New Menu Item:</h4>
    <form id="newfood" action="/home_manager" method="post">
        <div class="form-group">
            <label for="fSID">Location:</label>
            <select class="form-control" name="fSID">
                {% for location in locations %}
                {{location}}
                        <option value="{{location[0]}}">{{location[1]}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="Type">{{form.food_type.label}}</label>
            {{form.food_type(class="form-control")}}        
        </div>
        <div class="form-group">
            <label for="itemName">{{form.name.label}}</label>
            {{form.name(class="form-control")}}
        </div>
        <div class="form-group">
            <label for="itemPrice">{{form.price.label}}</label>
            {{form.price(class="form-control")}}
        </div>
        <input type="submit" class="btn btn-default" value="Submit" onClick="window.location.reload();">
    </form>
</div>
{% endblock %}
