
{% extends "bootstrap/base.html" %}
{% block title %}Login{% endblock %}

{% block navbar %}
{{nav.nav_login.render()}}
{% endblock %}

{% block content %}

<div class="container">
    <h3>Select your user:</h3></div>
    <form id="user" action="/login" method="post">
        <div class="form-group">
            <label for="email">User:</label>
            <select name="email"> 
            {% for email in emails %}
            {{email}}
            <option value="{{email}}">{{email}}</option>
            {% endfor %}
            </select>
        </div>
        <input type="submit" class="btn btn-default" value="Submit">
    </form>
 </div>
 {% endblock %}
